:root {
    --text: #212529;
    --text--white: #efebdc;
}

._grid {
    display: grid;
}

._flex {
    display: flex !important;
    gap: 0.75rem;
}

._justify-content-center {
    justify-content: center;
}

._align-items-center {
    align-items: center
}

._border-radius-25 {
    border-radius: 0.25rem;
}
