:root {
    --text: #212529;
    --text--white: #efebdc;
}

._secondary-text {
    color: grey;
}

._grid {
    display: grid;
}

._flex {
    display: flex !important;
    gap: 0.75rem;
}

._justify-content-center {
    justify-content: center !important;
}

._justify-content_space-between {
    justify-content: space-between;
}

._flex-direction-column {
    flex-direction: column;
}

._grid_template-columns-1-1 {
    grid-template-columns: 1fr 1fr;
}

._align-items-center {
    align-items: center
}

._align-content-center {
    align-content: center
}

._border-radius-25 {
    border-radius: 0.25rem;
}

._padding-0 {
    padding: 0 !important;
}

._text-align_center {
    text-align: center;
}

._background-white {
    background-color: var(--text--white);
}

._m-10rem {
    margin: 0 10rem;
}