:root {
    --hero-image: url(./images/hero-image.jpg);
    --background-overlay: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.home__section {
    padding: 3rem 10rem;
}

.home__hero-section {
    color: var(--text--white);
    height: 100vh;
    background-image: var(--background-overlay), var(--hero-image);
    background-position: center;
    background-size: cover;
    padding: 0 10rem;
}

.hero-section__heading {
    background: linear-gradient(45deg, #AA706A, #846369);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-section__text-wrapper {
    margin: auto 0;
}

.hero-section__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 15px;
    justify-content: right;
    align-content: center;
}


.hero-section__card {
    height: 230px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.4s;
}

.hero-section__card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.hero-section__card--1 {
    background-image: url(./images/simon-game.png);
}

.hero-section__card--2 {
    background-image: url(./images/tictactoe.jpg);
}

.hero-section__card--3 {
    background-image: url(./images/bild-platzhalter.png);
}

.hero-section__card--4 {
    background-image: url(./images/bild-platzhalter.png);
}


.footer {
    background-color: #212529;
    padding: 8rem;
    text-align: center;
    color: var(--text--white);
}