.fade-in__animation {
    animation: fade-in ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
