.tictactoe {
    height: 100vh;
    padding: 0 10rem;
    background-color: #BED7DC;
}

.tictactoe__gitter {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 2px solid #212529;
    border-radius: 0.25rem;
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area8 area9";
}

.tictactoe__field {
    border: 1px solid #212529;
    border-radius: 0.25rem;
    align-content: center;
    text-align: center;
    background-color: #F1EEDC;
    transition: all 0.2s;
}

.tictactoe__field:hover {
    cursor: pointer;
    background-color: #E5DDC5;
}
