:root {
    --text-color--nox: #B6B4B8;
    --text-hover-color--nox: white;
}

.topnav {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .topnav a {
        text-decoration: none;
        transition: color 0.1s ease;
    }

        .topnav a:hover {
            color: var(--text-hover-color--nox);
            transition: color 0.1s ease;
        }

.topnav--lumos {
    color: #212529;
}

    .topnav--lumos a {
        color: #212529;
    }

.topnav--nox {
    color: var(--text-color--nox);
}

    .topnav--nox a {
        color: var(--text-color--nox);
    }

.topnav__left {
    flex: 1;
    text-align: left;
}

.topnav__center {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.topnav__right {
    flex: 1;
    text-align: right;
    font-size: 1.3rem;
}

.topnav-item--active,
.topnav-item--active a {
    color: var(--text-hover-color--nox);
}

.topnav-item::marker {
    content: "";
}

.topnav-dropdown {
    position: relative;
}

.topnav-dropdown__titel {
    position: relative;
    z-index: 2;
    transition: color 0.1s ease;
}

    .topnav-dropdown__titel:hover {
        color: var(--text-hover-color--nox);
        cursor: pointer;
    }

    .topnav-dropdown__titel::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1rem;
    }

.topnav-item.topnav-dropdown:hover .topnav-dropdown__container {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.topnav-dropdown__container {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%) translateY(-0.5rem);
    min-width: 180px;
    height: fit-content;
    background: white;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.topnav-item.topnav-dropdown:hover .topnav-dropdown__titel,
.topnav-item.topnav-dropdown:hover .topnav-dropdown__container {
    opacity: 1;
    pointer-events: auto;
}

.topnav__drop-down-item {
    padding: 0.15rem 0.5rem;
    border-radius: 0.25rem;
    transition: 0.1s ease;
}

    .topnav__drop-down-item:hover {
        background-color: #dedede;
        cursor: pointer;
        transition: 0.1s ease;
    }
